// main: ../style.less


.nav {
  display: flex;
  height: 100%;
  align-items: center;
  flex-wrap: wrap;


  @media @mobile {
    display: none;
    position: absolute;
    height: auto;
    padding: 1rem;
    top: 100%;
    right: 0;
    z-index: 1000;
    width: 100%;
    background-color: #FFF;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .3);
    text-align: center;
    border-radius: 7%;
    &.show {
      opacity: .9;
      display: flex;
    }
  }
}

.nav__link {
  font-size: 0.93rem;
  color: @black;
  text-transform: uppercase; /* Все буквы большие */
  font-weight: 700;
  text-decoration: none;
  position: relative;
  border-radius: 20px;
  margin-left: 2rem;
  &:after {
    content: "";
    width: 0;
    height: 2px;
    background-color: @black;
    position: absolute;
    bottom: -5px;
    left: 0;
    z-index: 1;
    transition: width .4s linear; /*Transition позволяет определять переходное состояние между двумя состояниями элемента*/
  }
  &:hover:not(.nav__link--btn) {
    &:after {
      width: 100%;
    }
  }
  @media @mobile {
    width: 100%;
    margin-left: 0;
    padding: 1.2rem 1rem;
  }

  /* Modificators */
  &--btn {
    padding: 0.66rem 2rem;
    border: 2px solid @black;
    border-radius: 20px;
    transition: background-color .4s linear, color .2s linear;

    &:hover {
      background-color: @black;
      color: @white
    }
    @media @mobile {
      width: 100%;
      margin-left: 0;
      padding: 1rem 1rem;
      margin-top: 1rem;
    }
  }
}