// main: ../style.less



.news {
  margin-top: 14rem;
  margin-bottom: 8rem;

  @media @tablet {
    margin-top: 12rem;
    margin-bottom: 5rem;
  }
}



.news__header {
  margin: 14rem 0 3.6rem;
  text-align: center;
}

.news__title {
  margin-bottom: .3rem;
  font-size: 3rem;
  font-weight: 700;
  color: @black;
  text-transform: uppercase;

  @media @mobile {
    font-size: 2rem;
  }
}


.news__text {
  font-size: 1.2rem;
  font-weight: 300;
  color: @greywhitecolor;
  text-transform: uppercase;
}

.news__footer {
  text-align: right;
}

.news__link {
  color: grey;
  font-weight: 400;
  font-size: .93rem;
  &:hover {
    text-decoration: none;
  }
  @media @mobile-sm {
    display: block;
    text-align: left;
  }
}
